[defaults]
host_key_checking = False
log_path = ./ansible.log
allow_world_readable_tmpfiles = True

[ssh_connection]
pipelining = True
ssh_args = -F ./ssh_config -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
become_flags = -H -S
